@keyframes anchor-in {
  from   {
    left: 0;
    right: unset;
    width: 0%;
  }
  to {
    left: 0;
    right: unset;
    width: 100%;
  }
}

@keyframes anchor-out {
  from   {
    left: unset;
    width: 100%;
    right: 0;
  }
  to {
    left: unset;
    width: 0%;
    right: 0;
  }
}

@keyframes clients-blockquote {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes clients-copy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clients-headline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes preloader-background {
  from {
    background-color: $brand-white;
  }
  to {
    background-color: $brand-belugawhale;
  }
}

@keyframes preloader-done {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes preloader-inner {
  0% {
    height: 0px;
    width: 1px;
  }
  50% {
    left: 50%;
    height: 100%;
    width: 1px;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 100%;
  }
}

@keyframes preloader-logo-gradient {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes preloader-logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes styleboard-bg-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes styleboard-bg-out {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0;
  }
}