@keyframes anchor-in {
  from   {
    left: 0;
    right: unset;
    width: 0%;
  }
  to {
    left: 0;
    right: unset;
    width: 100%;
  }
}

@keyframes anchor-out {
  from   {
    left: unset;
    width: 100%;
    right: 0;
  }
  to {
    left: unset;
    width: 0%;
    right: 0;
  }
}

@keyframes clients-blockquote {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes clients-copy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes clients-headline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes storyboard-bg-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes storyboard-bg-out {
  100% {
    opacity: 0;
  }
}