@keyframes anchor-in {
  from   {
    left: 0;
    right: unset;
    width: 0%;
  }
  to {
    left: 0;
    right: unset;
    width: 100%;
  }
}

@keyframes anchor-out {
  from   {
    left: unset;
    width: 100%;
    right: 0;
  }
  to {
    left: unset;
    width: 0%;
    right: 0;
  }
}

@keyframes storyboard-bg {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 0.9; }
}