@font-face {  font-family: "OC Bartok"; font-style: italic; font-weight: bold; src: url("../fonts/OC Bartok Bold Oblique.otf"); }
@font-face {  font-family: "OC Bartok"; font-style: normal; font-weight: bold; src: url("../fonts/OC Bartok Bold.otf"); }
@font-face {  font-family: "OC Bartok"; font-style: italic; font-weight: normal; src: url("../fonts/OC Bartok Regular Oblique.otf"); }
@font-face {  font-family: "OC Bartok"; font-style: normal; font-weight: normal; src: url("../fonts/OC Bartok Regular.otf"); }

@font-face { font-family: "OC Pajaro"; font-style: italic; font-weight: bold; src: url("../fonts/OC Pajaro Bold Oblique.otf"); }
@font-face { font-family: "OC Pajaro"; font-style: normal; font-weight: bold; src: url("../fonts/OC Pajaro Bold.otf"); }
@font-face { font-family: "OC Pajaro"; font-style: italic; font-weight: normal; src: url("../fonts/OC Pajaro Regular Oblique.otf"); }
@font-face { font-family: "OC Pajaro"; font-style: normal; font-weight: normal; src: url("../fonts/OC Pajaro Regular.otf"); }
