blockquote {
  border-left: 2px solid $brand-shorerose;
  padding-bottom: 0.3rem;
  padding-left: 1.5rem;
  padding-top: 0.3rem;
}

h1 {
  margin-bottom: 2.75rem;
  line-height: 1.1;
}

.font-italic {
  position: relative;

  &::before {
    background-color: $brand-shorelineyelow;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
  }
}

.text-cols {
  column-gap: 4rem;
}

.text-cols.text-cols-2 {
  column-count: 2;
}
