blockquote {
  border-left: 2px solid $brand-shorerose;
  line-height: 1.5rem;
  padding-left: 1.5rem;
}

blockquote p:last-of-type {
  margin-bottom: 0rem;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: -0.02rem;
  line-height: 2.5rem;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.75rem;
    line-height: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4rem;
    line-height: 4.25rem;
  }
}

p {
  margin-bottom: 1.5rem;
}

.font-italic {
  position: relative;

  &::before {
    background-color: $brand-shorelineyelow;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
  }
}

.list {
  list-style-type: none;
  padding: 0px;
}

.list li {
  line-height: 2rem;
}

.list.list-2col li {
  display: block;
  float: left;
  width: 50%;

  @include media-breakpoint-up(md) {
    width: 33.3333%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.list.list-3col li {
  display: block;
  float: left;
  width: 33.3333%;

  @include media-breakpoint-up(md) {
    width: 25%;
  }

  @include media-breakpoint-up(lg) {
    width: 33.3333%;
  }
}

.text-cols {
  column-gap: 4rem;
}

.text-cols.text-cols-2 {
  column-count: 1;

  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}
