.projects-latest__header__btn {
    align-items: center;
    color: #FFFFFF;
    display: inline-flex;
    flex-direction: unset;
    height: 60px;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: 215px;
  }
  
  .btn.in-bounds {
    cursor: pointer;
  }
  