.storyboard {
  margin-bottom: 2.5rem;
}

.storyboard.first {
  position: relative;

  &::before {
    background-image: url('../images/styleboards-bg-xl.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    content: '';
    left: 0;
    height: 100%;
    opacity: 1;
    position: absolute;
    transition: opacity 0.6s ease-out;
    top: 0;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    &::before {
      background-size: 95% auto;
    }
  }
}

.storyboard.first.visible {
  &::before {
    opacity: 0.1;
  }
}

.storyboard img {
  opacity: 0;
  transition: all 0.3s;
}

.storyboard img.shadowed {
  box-shadow: 0px 16px 48px 0px rgba(69,68,67,0.24);
}

.storyboard .mask {
  background-color: $brand-seaurchin;
  content: '';
  height: 0%;
  left: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.storyboard > .container {
  @include media-breakpoint-up(sm) {
    max-width: 520px;
  }

  @include media-breakpoint-up(md) {
    max-width: 712px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1152px;
  }
}

/*
 * STATE: Visible
 */
