.storyboard {
  margin-bottom: 2.5rem;
}

.storyboard.first.visible {
  &::before {
    opacity: 0.1;
  }
}

.storyboard img {
  opacity: 0;
  transition: all 0.3s;
}

.storyboard img.shadowed {
  box-shadow: 0px 16px 48px 0px rgba(69,68,67,0.24);
}

.storyboard .mask {
  background-color: $brand-seaurchin;
  content: '';
  height: 0%;
  left: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.storyboard > .container {
  @include media-breakpoint-up(sm) {
    max-width: 520px;
  }

  @include media-breakpoint-up(md) {
    max-width: 712px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1152px;
  }
}

.storyboard-container {
  position: relative;

  background-attachment: fixed;
  background-image: url('../images/styleboards-bg-xl.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90% auto;

  &::before {
    animation-delay: 0.3s;
    animation-duration: 2.4s;
    animation-fill-mode: forwards;
    background-color: #FFFFFF;
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-out;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    background-size: 95% auto;
  }
}

.storyboard-container.visible {
  &::before {
    animation-name: storyboard-bg;
  }
}
