.styleboard {
  margin-bottom: 2.5rem;
}

.styleboard.first {
  padding-top: 9.5rem;
}

.styleboard.last {
  padding-bottom: 9.5rem;
}

.styleboard img {
  opacity: 0;
  transition: all 0.3s;
}

.styleboard img.shadowed {
  box-shadow: 0px 16px 48px 0px rgba(69,68,67,0.24);
}

.styleboard .mask {
  background-color: $brand-seaurchin;
  bottom: 0px;
  content: '';
  height: 0%;
  left: 12px;
  position: absolute;
  right: 12px;
}

.styleboard > .container {
  @include media-breakpoint-up(sm) {
    max-width: 520px;
  }

  @include media-breakpoint-up(md) {
    max-width: 712px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1152px;
  }
}
