footer {
  background-color: $brand-seaurchin;
  color: $brand-belugawhale;
  padding: 1.5rem 0px;
}

footer a {
  color: $brand-shorelineyelow;

  &::after {
    border-bottom: 1px solid $brand-shorelineyelow;
  }

  &:active,
  &:focus,
  &:hover {
    color: $brand-shorelineyelow;
  }
}

footer .socialLink {
  margin: 0.5rem;
  padding: 0 0 0.25rem;
}

footer .container .row {
  align-items: center;
}

footer #logo-semitransparent {
  opacity: 0.25;
}
