nav {
  padding: 1.5rem 0;
  position: absolute;
  transition: background-color 0.2s;
  width: 100%;
  z-index: 3;
}

nav #contact {
  border: none;
  position: relative;

  .icon {
    height: calc(100% + 4px);
    left: -2px;
    position: absolute;
    top: -2px;
    transition: all 0.3s ease-out;
    width: calc(100% + 4px);
    z-index: -1;

    path {
      transition: opacity 0.4s ease;

      &:first-of-type {
        fill: transparent;
        opacity: 1;
        stroke: #FFFFFF;
        stroke-width: 6;
        transition: all 0.3s ease-out;
      }

      &.icon--plain {
        opacity: 0;
        stroke: none;
        stroke-width: 0;
      }
    }    
  }

  &:hover {
    .icon {
      height: calc(100% + 8px);
      left: -4px;
      top: -4px;
      width: calc(100% + 8px);
  
      path:first-of-type {
        stroke-width: 8;
      }
    }
  }
}

nav #logo-gradient {
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 0.2s;
  width: 100%;
}

nav.collapsed {
  backdrop-filter: blur(8px);
  background-color: rgba(248,248,248,0.8);
  position: fixed;
  z-index: 1;
}

nav.collapsed #contact {
  color: $brand-brightcobalt;

  .icon  path:first-of-type {
    stroke: url(#linearGradient-1);
  }
}

nav.collapsed #logo-gradient {
  opacity: 1;
}

.nav-logoWrapper {
  display: inline-block;
  position: relative;
}
