.storyboard {
  margin-bottom: 3rem;
}

.storyboard.first {
  background-image: url('../../images/styleboards-bg-xl.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.storyboard img {
  box-shadow: 0px 16px 48px 0px rgba(69,68,67,0.24);
}
